html
{
    --small_font: 1ch;
    --medium_font: 2.125ch;
    --large_font: 3.5ch;
}

*
{
    font-family: Mulish;
    font-weight: 300;
}

body
{
    background-color: #292929;
    width: 100vw; height: 100vh;
    margin: 0; padding: 0;
}

.breaktype1
{
    all: revert;
    width: 100%; height: 2.5ch;
    margin: 0%;
    border: none;
    content: ' ';
}

.breaktype2
{
    all: revert;
    width: 100%; height: 0ch;
    margin: 0%;
    border: none;
    content: ' ';
}

/* Here's where most of the functional UI and graphical will go */

#main
{
    width: 90%; height: 82%;
    flex-direction: row;

    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 24px;
}

/* Menu */
#menu
{
    flex: 1.25;

    background-color: #2c2c2c7a;
    border: solid 1px rgba(139, 104, 107, 0.48);
    border-radius: 24px;
    transition: background-color 0.25s linear;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#menu:hover
{
    background-color: #2626267a;
    transition: background-color 0.25s linear;
}

#button_container
{
    width: 82%;
    
    display: flex;
    flex: 0.5; flex-wrap: wrap;

    flex-direction: column;
    justify-content: space-between;
    
    margin: 16px;
}

.button
{
    text-decoration: none;
    font-size: var(--medium_font);
    border-radius: 10px;
    margin: 4px;
    color: #F4F4F4;
    background-color: #3E3434;

    transition: background-color 0.5s cubic-bezier(.2,.56,.6,.87);

    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.button:hover
{
    background-color: #533F3F;
    transition: background-color 0.5s cubic-bezier(.2,.56,.6,.87);
}

/* Home icon */

#home
{
    width: 72%;
    flex: 3;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#home > a
{
    color: #F4F4F4;
    text-decoration: none;
}

/* #home > img
{
    height: 42px;
    aspect-ratio: auto;
    filter: invert(94.50980392%);
} */

/* Contact */
#contact
{
    display: flex;
    /* justify-content: center; */
    align-items: center;

    flex-direction: column;

    flex: 0.5;
    gap: 16px;

    margin: 16px;
}

#contact > p
{
    margin: 0%;

    text-align: center;
    font-size: 2.125ch;
    color: #FCD8D8;
}

.icon { height: 36px; }
.icon:hover { cursor: pointer; }

#content
{
    width: 100%; height: 100%;
    background-color: rgb(44, 44, 44, 48%);
    transition: background-color 0.25s linear;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 24px;

    flex: 8.75;

    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    flex-direction: column;

    padding: 1.5vh;

    gap: 1.5vh;
}
#content:hover
{
    background-color: #2626267a;
    transition: background-color 0.25s linear;
}

#cursor_bg
{
    width: 64px;
    aspect-ratio: 1;
    border-radius: 40px;

    filter: blur(24px);

    background-color: rgba(86, 68, 69, 72%);
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}
