*
{
    font-family: Mulish;
    font-weight: 300;
}

body
{
    width: 100vw; height: 100vh;
    margin: 0; padding: 0;

    background-color: #292929;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/66/Claude_Monet_-_The_Water_Lilies_-_Setting_Sun_-_Google_Art_Project.jpg);
    
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

/* Here's where most of the functional UI and graphical will go */

/* The Main Canvas */
#main
{
    width: 90%; height: 82%;

    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 24px;
}
