#content
{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.content_item
{
    height: fit-content; width: 12.5%;
    background-color: #00000000;
    transition: background-color 0.25s linear;
    border-radius: 24px;

    justify-content: space-between;

    padding: 1.5vh;
}
.content_item:hover
{
    backdrop-filter: blur(2px);
    background-color: #1a1a1a3d;
    transition: background-color 0.25s linear;
}

.image_container
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_container > img
{
    all: revert;
    width: 96%;

    border-radius: 16px;

    transform: translateX(0%);
    transition: width 0.5s cubic-bezier(.2,.56,.6,.87);
    /*transition: transform 0.5s cubic-bezier(.2,.56,.6,.87);*/
}
.image_container > img:hover
{
    width: 100%;
    transition: width 0.5s cubic-bezier(.2,.56,.6,.87);
}

.uitext_container
{
    width: 100%; height: 192px;
    margin-top: 1.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.uitext_container > h
{
    font-weight: 250;
    font-size: larger;
    color: #FCD8D8;
}

.links
{
    height: auto; width: fit-content;

    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.links > a
{
    width: 100%; height: fit-content;
    
    font-weight: 300; font-size: medium;
    font-style: italic;
    
    text-decoration: none;
    color: #FCD8D8;
    transition: color 0.25s cubic-bezier(.2,.56,.6,.87);

    text-align: center;
}
.links > a:hover
{
    color: #F5ACB2;
    transition: color 0.25s cubic-bezier(.2,.56,.6,.87);
}

.uitext_container > b
{
    font-size: medium;
    color: #F4F4F4;
}

#filter
{
    position: absolute;
    width: 96%; height: 4%;
    margin-top: 0.625%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.filter_button
{
    background-color: #3E3434;
    color: #F4F4F4;
    transition: background-color 0.5s cubic-bezier(.2,.56,.6,.87);
    width: auto; height: fit-content;
    padding: 6px;
    border-radius: 6px;
}
.filter_button:hover
{
    background-color: #533F3F;
    transition: background-color 0.5s cubic-bezier(.2,.56,.6,.87);
}
/*
@media screen and (max-width: 640px)
{
    #content_container
    {
        justify-content: top;
    }
    .content_item
    {
        /* width: 28%; height: fit-content; */
        /*
        background-color: rgba(26, 26, 26, 0.48);
        padding: 1%;

        align-items: center;
        justify-content: center;
        flex-direction: row;

        flex: 1;

        gap: 8px;
    }
    .image_container
    {
        width: 100%; height: auto;
        aspect-ratio: 1;
    }

    .uitext_container
    {
        display: flex;
        align-items: center;

        gap: 12px;
    }

    .uitext_container > h
    {
        font-size: larger;
        text-align: center;
    }

    .links > a
    {
        width: auto;
        text-align: center;
    }
}
*/
/*@media screen and (min-width: 641px)
{
    .content_item
    {
        width: 46%; height: 42%;
        padding: 1%;

        flex-flow: row nowrap;
        justify-content: left;

        gap: 8px;
    }

    .uitext_container > h
    {
        text-align: left;
    }

    .image_container
    {
        height: 100%; width: auto;
        aspect-ratio: 1;
    }
}*/
