#ouvre_container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;

    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    height: 90%;

    gap: 4%;
}

.content_item
{
    height: 80%;
    background-color: #1a1a1a1f;
    transition: background-color 0.25s linear;
    border-radius: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 12px;
}
.content_item:hover
{
    backdrop-filter: blur(2px);
    background-color: #1a1a1a3d;
    transition: background-color 0.25s linear;
}

.couverture_container
{
    width: 100%;
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.couverture_container > img
{
    width: 90%;
    border-radius: 16px;

    transition: width 0.5s cubic-bezier(.2,.56,.6,.87);
}
.couverture_container > img:hover
{
    width: 100%;
    transition: width 0.5s cubic-bezier(.2,.56,.6,.87);
}

.content_item > h
{
    max-width: 90%;
    font-weight: 250;
    text-align: justify;
    font-size: 21px;
    color: #f4f4f4;
}

.lien_container
{
    height: fit-content;
    width: 90%;

    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-wrap: wrap;
    flex-direction: column;
}

.lien_container > a
{
    flex: 1;
    
    font-weight: 300;
    font-size: medium;
    font-style: italic;
    text-align: justify;
    
    text-decoration: none;
    /* text-align: left; */
    color: #FCD8D8;
    transition: color 0.25s cubic-bezier(.2,.56,.6,.87);
}
.lien_container > a:hover
{
    color: #F5ACB2;
    transition: color 0.25s cubic-bezier(.2,.56,.6,.87);
}
